<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>495247234962-heoc4mb3hn2i934inp3g34n4lakmioen.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495247234962-heoc4mb3hn2i934inp3g34n4lakmioen</string>
	<key>API_KEY</key>
	<string>AIzaSyBuqRAzXidWsK4OTL8PtfzltZ2rHirgq8o</string>
	<key>GCM_SENDER_ID</key>
	<string>495247234962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brianli101.foresite</string>
	<key>PROJECT_ID</key>
	<string>foresite-1234</string>
	<key>STORAGE_BUCKET</key>
	<string>foresite-1234.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495247234962:ios:f0e5b16a244446c0</string>
	<key>DATABASE_URL</key>
	<string>https://foresite-1234.firebaseio.com</string>
</dict>
</plist>